<title>{{page.title}}</title>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta name="keywords" content="{{page.keywords}}"></meta>
<meta name="description" content="{{page.description}}"></meta>
<meta http-equiv="imagetoolbar" content="no" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="css/easy.css" media="screen" />
<link rel="stylesheet" href="css/easyprint.css" media="print" />
<link rel="canonical" href="{{page.url}}"/>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="js/easy.js"></script>
<script type="text/javascript" src="js/main.js"></script>
