<ul id="nav">
    <li><a href="http://dobesv.com">Home</a></li>
    <li><a href="/about.html" rel="author">About</a></li>
    <li><a href="https://plus.google.com/102960720201244684959" rel="me">+Dobes</a></li>
    <li><a href="http://twitter.com/dobesv" rel="me">@dobes</a></li>
    <li><a href="http://linkedin.com/in/dobesv" rel="me">LinkedIn</a></li>
    <li><a href="http://facebook.com/dobesv" rel="me">Facebook</a></li>
    <li><a href="http://lmgtfy.com/?q=dobes+vandermeer">Google Me</a></li>
</ul>
