<!DOCTYPE html>
<html>
<head>
    {% include head.html %}

    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://dobesv.com/feed/posts.xml">
    <link rel="alternate" type="application/rss+xml" title="RSS - Articles Only" href="http://dobesv.com/feed/articles.xml">
    <link rel="alternate" type="application/rss+xml" title="RSS - Links Only" href="http://dobesv.com/feed/links.xml">

</head>
<body>
{% include nav.html %}

<div id="container">

	<div id="header">

        <h1><a href="{{page.url}}">{{page.title}}</a></h1>
		
	</div>

	<div class="content">

		<div class="main">

            {{ content }}

		</div>
		
		<div class="secondary">
            {% include sidebar.html %}
		</div>
		
	</div>
	
	<div id="footer">
		<p>Made with <a href="http://easyframework.com">Easy</a></p>
	</div>

</div>

</body>
</html>