<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
</head>
<body>

<div id="container">

	<div id="header">
        {% include nav.html %}

        <h1><a href="{{page.url}}">{{page.title}}</a></h1>
		
	</div>

	<div class="content">

		<div class="main">

            {{ content }}

		</div>
		
		<div class="secondary">
            {% include sidebar.html %}
		</div>
		
	</div>
	
	<div id="footer">
		<p>Made with <a href="http://easyframework.com">Easy</a></p>
	</div>

</div>

</body>
</html>