<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Blog">
<head>
    {% include head.html %}
    <meta itemprop="name" content="{{page.title}}">
</head>
<body>
    {% include nav.html %}

<div id="container">

    <div id="header">

        <h1><a href="{{page.url}}">{{page.title}}</a></h1>

    </div>

    <div class="content">

        <div class="main">
            {{ content }}

            <div class="g-plusone" data-annotation="inline" data-width="600"></div>
            <div class="fb-like" data-href="http://dobesv.com{{page.url}}" data-send="true" data-width="600" data-show-faces="true" data-font="arial"></div>
            <div class="fb-comments" data-href="http://dobesv.com{{page.url}}" data-num-posts="10" data-width="600"></div>
        </div>

        <div class="secondary">
            {% include sidebar.html %}
        </div>
    </div>


</div>

{% include footer.html %}


</body>
</html>